body {
    background-color: #18181b;
    color: white;
    
}

body img {
    
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

body a {
    text-decoration: none;
    color: inherit;
}

body p {
    font-size: 20px;
}

.cristiano {
    text-align: center;
    
}

.messi {
    text-align: center;
}

.neymar {
    text-align: center;
}

#blue {
    background-color: #0ea5e9;
    text-shadow: 0 0 2px black;
}

#red {
    background-color: #b91c1c;
    text-shadow: 0 0 2px black;
}

#yellow {
    background-color: #fbbf24;
    text-shadow: 0 0 2px black;
}

