body, li, ul, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

}
ul { 
    display: inline-block;

}
nav {
    background-color: #0057a3;
    align-items: center;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 20px;
    height: 100px;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    font-weight: bold;
    color: white;
}

.menu li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}